h1{
  font-family: "TitlingGothicFB Extended";
  color: #f4ede9;
  font-size: 22px;
  margin-top: 50px;
  text-align: center;
}

p{
  font-family: "TitlingGothicFB Normal";
  color: #f4ede9;
  font-size: 17px;
  margin-top: 10px;
  text-align: center;
}

body{
  background-color: #1e1e1e;
}

footer{
  font-family: "TitlingGothicFB Normal";
  color: #f4ede9;
  font-size: 12px;
  text-align: center;
}
