.box{
  margin: 100px;
  background: black;
  padding: 50px;
  width: auto;
  height: auto;
  align-content: center;
}

h1{
  font-family: "TitlingGothicFB Extended";
  color: #f4ede9;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
}

p{
  font-family: "TitlingGothicFB Normal";
  color: #f4ede9;
  font-size: 15px;
  margin-top: 10px;
  text-align: center;
}

body{
  background-image: url("OutOfFocus.jpg")
}

footer{
  font-family: "TitlingGothicFB Normal";
  color: #f4ede9;
  font-size: 12px;
  text-align: center;
}
