body {
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

a{
  text-decoration: none;
}

#RED{
  width: 60vw;
  height:60vw;
  margin: auto;
}

#RED img{
  width:100%;
  margin: auto;
}

#redTITLE{
  width:100%;
  height:100%;
  text-align: center;
  position: absolute;
  top: 10%;
  right: 1.5%;
}

#redTITLE p{
  color: #e24b44;
}

#RED:hover p{
  color:#1e1e1e;
}

#BLUE{
  width:20vw;
  height:20vw;
  top: 0;
  position: absolute;
}

#BLUE img{
  width:100%;
}

#blueTITLE{
  width:100%;
  height:100%;
  position: absolute;
  transform: rotate(90deg);
  text-align: center;
  z-index: 20;
  top: 80%;
  left: -60%;
}

#blueTITLE p{
  color: #7cb2cc;
}

#BLUE:hover p{
  color:#1e1e1e;
}

#ORANGE{
  width:50vw;
  height:50vw;
  top: 50%;
  position: absolute;
}

#ORANGE img{
  width:100%;
}

#orangeTITLE{
  width:100%;
  height:100%;
  position: absolute;
  text-align: center;
  z-index: 30;
  top: 35%;
  left: 10%;
}

#orangeTITLE p{
  color: #f9a73a;
}

#ORANGE :hover p{
  color:#1e1e1e;
}

#YELLOW{
  width:40vw;
  height:40vw;
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 5;
}

#YELLOW img{
  width:100%;
  height: 100%;
}

#yellowTITLE{
  width:100%;
  height:100%;
  text-align: center;
  position: absolute;
  top: 42%;
  right: 5%;
}

#YELLOW:hover p{
  color:#1e1e1e;

}

#yellowTITLE p{
  color: #ecca5f;
}

#WHITE{
  width: 27vw;
  height: 27vw;
  position: absolute;
  text-align: center;
  right: -7%;
  top: 0;
}

#WHITE img{
  width:100%;
}

#whiteTITLE{
  width:100%;
  height:100%;
  position: absolute;
  text-align: center;
  transform: rotate(270deg);
  z-index: 40;
  top: 30%;
  left: 30%;
  z-index: 50;
}

#whiteTITLE p{
  color: #f4ede9;
}

#WHITE p:hover{
  color: #1e1e1e;
}

#logo{
  position: absolute;
  width: 100%;
  height:20vh;
  text-align: center;
  margin: auto;
  top: 50%;
  z-index: -3;
  transform: translate(0,-20vh);
}

#BLACK{
  width: 15vw;
  height: 15vw;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 55%;
  left: 40%;
  z-index: 20;
}

#BLACK img{
  width: 100%;
}

#BLACK:hover p{
  color: #ffffff;
}

#about{
  width: 100%;
  height: 100%;
  position: relative;
  top: -45%;
  left: 2%;
}

#about p{
  color: #1e1e1e;
}

h1{
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #1e1e1e;
  font-size: 60px;
}

footer{
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
  font-size: 22px;

}

p{
  font-family: titling-gothic-fb-wide, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
  font-size: 2.5vh;
}
